@font-face{
font-family: 'HelveticaNeueCond';
src: url('/static/fonts/HelveticaNeue-BlackCond.ttf');
font-weight: 900;
}
@font-face{
font-family: 'HelveticaNeueCond';
src: url('/static/fonts/HelveticaNeue-BoldCond.ttf');
font-weight: 700;
}
@font-face{
font-family: 'HelveticaNeueCond';
src: url('/static/fonts/HelveticaNeue-MediumCond.ttf');
font-weight: 400;
}
@font-face{
font-family: 'HelveticaNeue';
src: url('/static/fonts/HelveticaNeue-Regular.ttf');
font-weight: 400;
}
@font-face{
font-family: 'HelveticaNeueCond';
src: url('/static/fonts/HelveticaNeue-ThinCond.ttf');
font-weight: 300;
}
@font-face{
font-family: 'HelveticaNeueCond';
src: url('/static/fonts/HelveticaNeue-UltraLigCond.ttf');
font-weight: 100;
}
@font-face{
font-family: 'HelveticaNeue';
src: url('/static/fonts/HelveticaNeue-Thin.ttf');
font-weight: 300;
}

body{
	font-family: 'HelveticaNeueCond';
	letter-spacing: 1px;
}

.content{
	display: flex;
	align-content: center;
	justify-content: center;
	flex-direction: column;
	height: 100%;
	text-align: center;
	padding: 10px;
}

h1{
	font-family: 'HelveticaNeueCond';
	font-size: 60px;
	font-weight: 700;
}

#recuerdas, #primero{
/*	display: flex;*/
	background-color: #2db9e7;
	text-align: center;
	color: #f2eee3;
}
#recuerdas .inter, #primero .inter{
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#recuerdas img{
	width: 180px;
	margin: 0 auto;
}

#recuerdas h1{
    margin-top: ;
}

.line_break{
    display: none;
}

#recuerdas .scroll, #primero .scroll{
	color: #f2eee3;
	font-weight: 100;
	align-self: center;
	justify-content: center;
	/*padding-bottom: 10px;*/

}
#recuerdas img.arrow, #primero img.arrow{
	width: 70px;
}
#ingresa, #fundacion{
	background-color: #ffffff;
	color: #898174;
}
#ingresa img{
	width: 130px;
	height: 130px;
	margin-right: 20px;
}
#ingresa h2, #fundacion h2{
	font-size: 65px;
	font-family: 'HelveticaNeueCond';
	font-weight: 300;
	letter-spacing: 2px;
}
.regular{
	font-family: 'HelveticaNeue';
	font-weight: 300;
}
.strong-tuit{
	font-family: 'HelveticaNeueCond';
	font-weight: 700;
}
.little-tuit{
	font-size: 38px;
}
#ingresa .inter, #fundacion .inter{
	display: flex;
	align-self: center;
	align-items: center;
}
#ingresa p, #primero p, #fundacion p{
	font-family: 'HelveticaNeueCond';
	font-weight: 100;
	font-size: 27px;
	/*letter-spacing: 2px;*/
}
#ingresa strong, #primero strong, #fundacion strong{
	font-weight: 400;
}
#ingresa button, #fundacion button, #primero button{
	background-color: #dcd5b8;
    border: none;
    padding: 10px 0 8px;
    border-radius: 10px;
    width: 160px;
    font-family: 'HelveticaNeueCond';
    font-weight: 300;
    font-size: 20px;
    color: #605951;
    cursor: pointer;
}

#ingresa button.log-fb{
	background-color: #3b5998;
	color: #fff;
}

#ingresa button.log-tw{
	background-color: #1da1f2;
	color: #fff;
}

#primero a.share-tw button{
	background-color: #f2eee3;
	color: #1da1f2;
	width: 160px;
	border-radius: 10px;
	padding: 10px 0 8px;
}

#primero a.share-fb button{
	background-color: #f2eee3;
	color: #3b5998;
	width: 160px;
	border-radius: 10px;
	padding: 10px 0 8px;
}

#primero a.share-tw i{
	color: #1da1f2;
}

#primero a.share-fb i{
	color: #3b5998;
}

.section a i{
	margin-right: 5px;
}

#primero img{
	width: 160px;
	margin: 0 auto 2%;
}

#primero .primertuit{
	margin-bottom: 2%;
}

#primero p{
	margin: 0 auto 2%;
}

#primero h3{
	font-weight: 100;
	font-size: 60px;
	margin: 10px 0;
}

#primero h3 a{
    color: #f2eee3;
    text-decoration: none;
}

#primero h4{
	font-weight: 100;
	font-size: 50px;
	margin: 0;
}
#fundacion h2{
	font-weight: 100;
}
#fundacion a{
	margin: 0 10px;
}

@media only screen and (max-width: 768px) {
    h1{
        font-size: 40px;
    }
    #recuerdas img{
        width: 250px;
    }
    .line_break{
        display: block;
    }
    #recuerdas h1{
        /*margin: 30px auto 10px;*/
        line-height: 1;
    }
    #ingresa h2{
        margin: 15px;
        font-size: 30px;
    }
    .little-tuit {
        font-size: 20px;
    }
    #ingresa p{
        font-size: 17px;
        letter-spacing: inherit;
    }
    #ingresa img{
        width: 100px;
        height: 100px;
    }

}

@media only screen and (max-device-width: 500px) and (orientation: portrait){
    #ingresa .inter{
        flex-direction: column;
    }


}

