@font-face{
font-family: 'HelveticaNeue';
src: url('/static/fonts/HelveticaNeue-Thin.ttf');
font-weight: 300;
}

/*@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700');*/

body{
	font-family: 'Oswald', sans-serif;
	letter-spacing: 1px;
}

.content{
	display: flex;
	align-content: center;
	justify-content: center;
	flex-direction: column;
	height: 100%;
	text-align: center;
	padding: 10px;
}

h1{
	font-family: 'Oswald', sans-serif;
	font-size: 60px;
	font-weight: 700;
}

#recuerdas, #primero{
/*	display: flex;*/
	background-color: #2db9e7;
	text-align: center;
	color: #f2eee3;
}
#recuerdas .inter, #primero .inter{
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#recuerdas img{
	width: 180px;
	margin: 0 auto;
}

#recuerdas h1{
    margin-top: ;
}

.line_break{
    display: none;
}

#recuerdas .scroll, #primero .scroll{
	color: #f2eee3;
	font-weight: 100;
	align-self: center;
	justify-content: center;
	/*padding-bottom: 10px;*/

}
#recuerdas img.arrow, #primero img.arrow{
	width: 70px;
}
#ingresa, #fundacion{
	background-color: #ffffff;
	color: #898174;
}
#ingresa img{
	width: 130px;
	height: 130px;
	margin-right: 20px;
}
#ingresa h2, #fundacion h2{
	font-size: 65px;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	letter-spacing: 2px;
}
.regular{
	font-family: 'HelveticaNeue';
	font-weight: 300;
}
.strong-tuit{
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
}
.little-tuit{
	font-size: 38px;
}
#ingresa .inter, #fundacion .inter{
	display: flex;
	align-self: center;
	align-items: center;
}
#ingresa p, #primero p, #fundacion p{
	font-family: 'Oswald', sans-serif;
	font-weight: 100;
	font-size: 27px;
	/*letter-spacing: 2px;*/
}
#ingresa strong, #primero strong, #fundacion strong{
	font-weight: 400;
}
#ingresa button{
    background-color: #2db9e7;
    border: none;
    padding: 10px 0 8px;
    border-radius: 10px;
    width: 160px;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #605951;
    cursor: pointer;
}

#ingresa button.log-fb{
	background-color: #3b5998;
	color: #fff;
}

#ingresa button.log-tw{
	background-color: #1da1f2;
	color: #fff;
}

.spinner {
  margin: 100px auto;
  width: 80px;
  height: 80px;
  position: absolute;
    z-index: 999;
  right: 0;
  left: 0;
  top: 25vh;
  display: none;
}

.cube1, .cube2 {
  background-color: #66FF00;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
  animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
  25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
  50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
  75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
  100% { -webkit-transform: rotate(-360deg) }
}

@keyframes sk-cubemove {
  25% {
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  } 50% {
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  } 50.1% {
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  } 75% {
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  } 100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}

#primero a.share-tw button{
	background-color: #f2eee3;
	color: #1da1f2;
	width: 160px;
	border-radius: 10px;
	padding: 10px 0 8px;
}

#primero a.share-fb button{
	background-color: #f2eee3;
	color: #3b5998;
	width: 160px;
	border-radius: 10px;
	padding: 10px 0 8px;
}

#primero a.share-tw i{
	color: #1da1f2;
}

#primero a.share-fb i{
	color: #3b5998;
}

.section a i{
	margin-right: 5px;
}


#primero #cloud{
    background-image: url("/static/Globito.png");
    background-size: 100% 100%;
    height: auto;
    min-height: 200px;
    max-height: 400px;
    width: auto;
    min-width: 400px;
    max-width: 500px;
    align-self: center;
    padding: 15px 20px 20px 20px;
    position: relative;
    background-color: #fff;
    border-radius: 40px;
    margin-bottom: 30px;
}

#primero #cloud:after{
    content: '';
	position: absolute;
	bottom: 0;
	left: 20%;
	width: 0;
	/*height: 0;*/
	border: 26px solid transparent;
	border-top-color: #fff;
	border-bottom: 0;
	border-left: 0;
	/*margin-left: -9.5px;*/
	margin-bottom: -25px;
}

#primero img{
	width: 100px;
	margin-right: 20px;
}

#primero .primertuit{
	margin-bottom: 2%;
	display: flex;
	align-self: center;
	align-items: center;
}

#primero p{
	margin: 0 auto 2%;
}

#primero h3{
	font-weight: 100;
	font-size: 30px;
	line-height: 1.3;
	margin: 0;
	text-align: left;
}

#primero h3 a, #primero h3{
    color: #000000;
    text-decoration: none;
}

#primero .footer-cloud{
    color: #000;
    font-weight: 100;
    letter-spacing: 0px;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 20px;
}

#primero .footer-cloud span{
    font-weight: 400;
}

#primero h4{
	font-weight: 100;
	font-size: 30px;
	margin: 0;
}
#fundacion img{
    width: 400px;
    align-self:center;
}
#fundacion p{
    margin: 50px 0;
}

#fundacion .buttons{
    text-transform: uppercase;
    font-weight: 100;
    font-size: 25px;
    letter-spacing: 0.5px;
}

#fundacion a{
	margin: 0 10px;
}
#fundacion button{
    background-color: #2db9e7;
    border: none;
    padding: 0px 20px 0px;
    border-radius: 15px;
    font-family: 'Oswald', sans-serif;
    font-weight: 100;
    font-size: 25px;
    letter-spacing: 0.5px;
    color: #fff;
    cursor: pointer;
}



@media only screen and (max-width: 768px) {
    h1{
        font-size: 40px;
    }
    #recuerdas img{
        width: 250px;
    }
    .line_break{
        display: block;
    }
    #recuerdas h1{
        /*margin: 30px auto 10px;*/
        line-height: 1;
    }
    #ingresa h2{
        margin: 15px;
        font-size: 30px;
    }
    .little-tuit {
        font-size: 20px;
    }
    #ingresa p{
        font-size: 17px;
        letter-spacing: inherit;
    }
    #ingresa img{
        width: 100px;
        height: 100px;
    }

}
@media only screen and (max-device-width: 500px){
    #primero #cloud{
        width: 80%;
        min-width: 80%;
    }
    #primero .primertuit{
        flex-direction: column;
    }

    #fundacion img{
        width: 80%;
    }
}

@media only screen and (max-device-width: 500px) and (orientation: portrait){
    #ingresa .inter{
        flex-direction: column;
    }
}
