<!DOCTYPE html>
<html lang="es">
<head>
	<title>Prueba Jquery</title>
	<link rel="stylesheet" type="text/css" href="../static/jquery.fullPage.css" />
	<link rel="stylesheet" type="text/css" href="../static/style.css" />

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
	<script type="text/javascript" src="../vendors/scrolloverflow.js"></script>
	<script type="text/javascript" src="../static/jquery.fullPage.js"></script>

	<script type=text/javascript>
		// $(function() {
		//   $('a#process_input').bind('click', function() {
		// 	$.getJSON('/background_process', {
		// 	  proglang: $('input[name="proglang"]').val(),
		// 	}, function(data) {
		// 	  $("#result").text(data.result);
		// 	});
		// 	return false;
		//   });
		// });
		$(document).ready(function() {
			$('#fullpage').fullpage();
		});
	</script>
</head>
<body>
	<div id="fullpage">
		<div class="section" id="recuerdas">
			<div class="content">
				<div class="inter">
					<img src="{{url_for('static', filename='ciguena.png') }}" alt="¿Recuerdas tu primer tuit?">
					<h1>¿RECUERDAS TU PRIMER TUIT?</h1>

				</div>
				<div class="scroll">scroll down<br/><img src="{{url_for('static', filename='scroll.png') }}" alt="Scroll down" class="arrow"></div>
				
			</div>
		</div>
		<div class="section" id="ingresa">
			<div class="content">
				<div class="inter">
					<img src="{{url_for('static', filename='miprimertuit.png') }}" alt="¿Recuerdas tu primer tuit?">
					<h2><span class="regular">mi</span><span class="strong-tuit">primer</span>tuit.<span class="little-tuit">com</span></h2>	
				</div>
				<p>Te preguntarás cómo algo que tú escribiste,<br/>no puedes recordarlo.</p>
				<p>Algo tan simple como <strong>tu primer tuit.</strong></p>
				<p>Pensamos que te interesaría leerlo de nuevo.</p>
				<a href="{{url_for('index') }}"><button>INGRESA</button></a>
			</div>
		</div>
	</div>
	<!-- <div class='container'>
		<h3>Welcome! Which is the best programming language of them all?</h3>
		<form>
			<input type=text size=5 name=proglang>
			<a href=# id=process_input><button class='btn btn-default'>Submit</button></a>
		</form>
		<p id=result></p>
	</div> -->
</body>
</html>
	
