<!DOCTYPE html>
<html lang="es">
<head>
	<title>Mi Primer Posteo</title>

    <meta charset="UTF-8">
    <meta name="description" content="Mi Primer Posteo es una iniciativa que busca crear conciencia acerca de una terrible enfermedad que ataca la memoria, el Alzheimer.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <link href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700" rel="stylesheet">

    <meta property="og:url"           content="https://www.facebook.com/10155983627921979/posts/128121886978" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="Mi primer posteo" />
    <meta property="og:description"   content="Yo recordé mi primer posteo, ¿te gustaría recordar el tuyo?" />
    <meta property="og:image"         content="http://www.miprimerposteo.com/static/summary-card.jpg" />
    <meta property="fb:app_id"        content="431901777204843"/>

	<meta name="twitter:card" content="summary" />
	<meta name="twitter:title" content="Mi primer posteo" />
	<meta name="twitter:description" content="Yo recordé mi primer posteo, ¿te gustaría recordar el tuyo?" />
	<meta name="twitter:image" content="http://www.miprimerposteo.com/static/summary-card.jpg" />
	<meta name="twitter:image" content="http://www.miprimerposteo.com/static/ciguena.png" />

    <link rel="stylesheet" type="text/css" href="../static/normalize.css" />
	<link rel="stylesheet" type="text/css" href="../static/jquery.fullPage.css" />
	<link rel="stylesheet" type="text/css" href="../static/style.css" />

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>

	<script type="text/javascript" src="../vendors/scrolloverflow.js"></script>
	<script type="text/javascript" src="../static/jquery.fullPage.js"></script>

	<script src="https://use.fontawesome.com/7c5f458eb4.js"></script>

	<script type=text/javascript>
		// $(function() {
		//   $('a#process_input').bind('click', function() {
		// 	$.getJSON('/background_process', {
		// 	  proglang: $('input[name="proglang"]').val(),
		// 	}, function(data) {
		// 	  $("#result").text(data.result);
		// 	});
		// 	return false;
		//   });
		// });
        $(document).ready(function() {
			$('#fullpage').fullpage({
			    responsiveWidth: 768,
			    responsiveHeight: 500
			});
		});
	</script>
	<script type=text/javascript>
	    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	    console.log($SCRIPT_ROOT)
    </script>
</head>
<body>
    <div id="fb-root"></div>
    <div class="spinner">
      <div class="cube1"></div>
      <div class="cube2"></div>
    </div>
	<div id="fullpage">
		<div class="section" id="recuerdas">
			<div class="content">
				<div class="inter">
					<img src="{{url_for('static', filename='ciguena.gif') }}" alt="¿Recuerdas tu primer post?">
					<h1>¿RECUERDAS <br/ class="line_break">TU PRIMER <br/ class="line_break">POSTEO?</h1>


				</div>
				<div class="scroll"><img src="{{url_for('static', filename='scroll.png') }}" alt="Scroll down" class="arrow"></div>

			</div>
		</div>
		<div class="section" id="ingresa">
			<div class="content">
				<div class="inter">
					<img src="{{url_for('static', filename='miprimertuit.gif') }}" alt="¿Recuerdas tu primer tuit?">
					<h2><span class="regular">mi</span><span class="strong-tuit">primer</span>posteo.<span class="little-tuit">com</span></h2>
				</div>
				<p>Te preguntarás cómo algo que tú escribiste, <strong>no puedes recordarlo.</strong></p>
				<p>Algo tan simple como <strong>tu primer posteo.</strong></p>
				<p>Pensamos que te interesaría <strong>leerlo de nuevo.</strong></p>
				<a href="#" onclick="fblogin(); return false;"><button class="log-fb"><i class="fa fa-facebook"></i> FACEBOOK</button></a><br/>
				<a href="{{url_for('login') }}"><button class="log-tw"><i class="fa fa-twitter"></i>TWITTER</button></a>
			</div>
		</div>
	</div>

	<script>
	  // Additional JS functions here
	 //  $(function(){
		//   $('a#facebook_login').bind('click', function () {
		//       FB.login(function(response) {
		//           if (response.authResponse) {
		//               // connected
		//               console.log('login successful')
		//               get_user();
		//           } else {
		//               // cancelled
		//               console.log('login failed ')
		//           }
		//       });
		//       return false;
		//     });
		// });
	  var primero = [];

	  $("button").click(function(){
	      $(".spinner").css("display","block");
          $("body").scrollTop(0);
	  });

	  //Validate status
		function statusChangeCallback(response) {
		    console.log('statusChangeCallback');
		    console.log(response);
		    // The response object is returned with a status field that lets the
		    // app know the current login status of the person.
		    // Full docs on the response object can be found in the documentation
		    // for FB.getLoginStatus().
		    if (response.status === 'connected') {
		      // Logged into your app and Facebook.
				console.log('Welcome!  Fetching your information.... ');

			    get_user();

			   //  FB.api('/me', function(response) {
			   //    console.log(JSON.stringify(response));
			   //    console.log('Successful login for: ' + response.name);
			   //    //create object
				  // primero['name']=response.name;
				  // console.log('guardé nombre en json');

			   //  });
			    getfirstpost();
				token = response.authResponse.accessToken;
				console.log(token);
		    } else if (response.status === 'not_authorized') {
		      // The person is logged into Facebook, but not your app.
		      console.log('Por favor autoriza nuestra aplicación.');

		    } else{
		    	console.log('Status desconectado de facebook');
		    }
		}

	 //  function get_user() {
	 //  		console.log('quiero obtener el usuario');
		//     FB.api('/me', function(response) {
		//       console.log(response);
		//       $.getJSON($SCRIPT_ROOT + '/_get_facebook_login',
		//                 { facebook_id: response.id, name: response.name },
		//                 function(data) {
		//                   console.log(data);
		//                   location.reload(true);
		//                 });
		//     });
		// }

		function get_user() {
	  		console.log('quiero obtener el usuario');
		    FB.api('/me', function(response) {
		      console.log(response);
		      console.log(JSON.stringify(response));
		      $.getJSON($SCRIPT_ROOT + '/_get_facebook_login',
		                { facebook_id: response.id, name: response.name },
		                function(data) {
		                  console.log(data);
		                  // location.reload(true);
		                });
			  console.log('Successful login for: ' + response.name);
		  	  //create object
		      primero['name']=response.name;
		      console.log('guardé nombre en json');
			});

		}

	  window.fbAsyncInit = function() {
	    FB.init({
	      appId      : '431901777204843', // App ID
	      channelUrl : 'http://www.miprimerpost.com/channel.html', // Channel File
	      status     : true, // check login status
	      cookie     : true, // enable cookies to allow the server to access the session
	      xfbml      : true  // parse XFBML
	    });
		// Additional init code here
        {% if user %}
         FB.getLoginStatus(function(response) {
           if (response.status === 'connected') {
             //user logged in and connected to facebook
             console.log('user logged in and connected to facebook');
             // fblogin();
           } else if (response.status === 'not_authorized') {
             //user logged in but app not_authorized on facebook
             console.log('user logged in but app not_authorized on facebook');
             // $("#user_no_facebook_auth_modal").modal('show');
           } else {
             //user logged in but app not_logged_in to facebook
             console.log('user logged in but app not_logged_in to facebook');
             // $("#user_no_facebook_login_modal").modal('show');
           }
          });
        {% else %}
        FB.getLoginStatus(function(response) {
          if (response.status === 'connected') {
            // connected
            console.log('connected');
            // $("#no_user_facebook_modal").modal('show');
            // get_user();
          } else if (response.status === 'not_authorized') {
            // not_authorized
            console.log('not authorized');
            // $("#login-modal").modal('show');
          } else {
            // not_logged_in
            console.log('not logged in');
            // $("#login-modal").modal('show');
          }
         });
      	{% endif %}
	  };

	  // Load the SDK Asynchronously
	  (function(d){
	     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
	     if (d.getElementById(id)) {return;}
	     js = d.createElement('script'); js.id = id; js.async = true;
	     js.src = "//connect.facebook.net/en_US/all.js";
	     ref.parentNode.insertBefore(js, ref);
	   }(document));
	</script>

	<script type="text/javascript" src="../static/app.js"></script>

</body>
</html>

