<!DOCTYPE html>
<html lang="es">
<head>
	<title>Prueba Jquery</title>
	<link rel="shortcut icon" type="image/png" href="{{url_for('static', filename='favicon.png') }}"/>

	<link rel="stylesheet" type="text/css" href="../static/jquery.fullPage.css" />
	<link rel="stylesheet" type="text/css" href="../static/style.css" />

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>

	<script type="text/javascript" src="../vendors/scrolloverflow.js"></script>
	<script type="text/javascript" src="../static/jquery.fullPage.js"></script>

	<script src="https://use.fontawesome.com/7c5f458eb4.js"></script>

	<script type=text/javascript>
		// $(function() {
		//   $('a#process_input').bind('click', function() {
		// 	$.getJSON('/background_process', {
		// 	  proglang: $('input[name="proglang"]').val(),
		// 	}, function(data) {
		// 	  $("#result").text(data.result);
		// 	});
		// 	return false;
		//   });
		// });
		$(document).ready(function() {
			$('#fullpage').fullpage();
		});

	</script>
	<script type=text/javascript>
	    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	    console.log($SCRIPT_ROOT)
	  </script>
</head>
<body>
    <div id="fb-root"></div>
	<div id="fullpage">
		<div class="section" id="primero">
			<div class="content">
				<div class="inter">
					<img src="{{url_for('static', filename='Globito.png') }}" alt="¿Recuerdas tu primer tuit?">
					<div class="primertuit">
						<h3><a href="{{ mensaje.link }}" target="_blank">{{ mensaje.message }}</a></h3>
						<h4>{{ mensaje.name }}</h4>
					</div>
					<p>Para ti fue difícil recordar <strong>tu primer posteo.</strong><br/>
					Hay pacientes con <strong>Alzheimer</strong> que no recuerdan su nombre.</p>
					<!--<a class="share-tw" href="https://twitter.com/share?text={{ mensaje.message }}&url=http://aneacolacao.pythonanywhere.com/"><button><i class="fa fa-twitter"></i> COMPARTE</button></a>-->

                    <a href="#" class="share-fb" title="Twittear"><button><i class="fa fa-facebook"></i> COMPARTE</button></a>

				</div>
				<div class="scroll">scroll down<br/><img src="{{url_for('static', filename='scroll.png') }}" alt="Scroll down" class="arrow"></div>

			</div>
		</div>
		<div class="section" id="fundacion">
			<div class="content">
				<h2>Fundación <strong>Alzheimer</strong> México</h2>
				<p>Te invitamos a hacer una donación para combatir esta enfermedad. Con tu ayuda,<br/>
				desarrollamos programas de investigación, apoyo y servicios esenciales<br/>
				que ayudan a nuestros pacientes a mejorar su calidad de vida.</p>
				<div class="buttons">
					<a href="#"><button>DONA</button></a>
				</div>
				<p>Fundación Alzheimer, Alguien con quien contar I.A.P.</p>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="../static/app.js"></script>
</body>
</html>
