<!DOCTYPE html>
<html lang="es">
<head>
    <title>Mi Primer Posteo</title>

    <meta charset="UTF-8">
    <meta name="description" content="Mi Primer Posteo es una iniciativa que busca crear conciencia acerca de una terrible enfermedad que ataca la memoria, el Alzheimer.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <link href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700" rel="stylesheet">

    <meta property="og:url"           content="http://www.miprimerposteo.com" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="Mi primer posteo" />
    <meta property="og:description"   content="Yo recordé mi primer posteo, ¿te gustaría recordar el tuyo?" />
    <meta property="og:image"         content="http://www.miprimerposteo.com/static/summary-card.jpg" />
    <meta property="fb:app_id"        content="431901777204843"/>

	<meta name="twitter:card" content="summary" />
	<meta name="twitter:title" content="Mi primer posteo" />
	<meta name="twitter:description" content="Yo recordé mi primer posteo, ¿te gustaría recordar el tuyo?" />
	<meta name="twitter:image" content="https://www.miprimerposteo.com/static/summary-card.jpg" />
	<meta name="twitter:image" content="https://www.miprimerposteo.com/static/ciguena.png" />

	<link rel="stylesheet" type="text/css" href="../static/jquery.fullPage.css" />
	<link rel="stylesheet" type="text/css" href="../static/style.css" />

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>

    <script type="text/javascript" src="../static/scrolloverflow.js"></script>
    <script type="text/javascript" src="../static/html2canvas.min.js"></script>
	<script type="text/javascript" src="../static/jquery.fullPage.js"></script>

	<script src="https://use.fontawesome.com/7c5f458eb4.js"></script>

	<script type=text/javascript>
		// $(function() {
		//   $('a#process_input').bind('click', function() {
		// 	$.getJSON('/background_process', {
		// 	  proglang: $('input[name="proglang"]').val(),
		// 	}, function(data) {
		// 	  $("#result").text(data.result);
		// 	});
		// 	return false;
		//   });
		// });
		$(document).ready(function() {
			$('#fullpage').fullpage({
                responsiveWidth: 768,
			    responsiveHeight: 500
            });
		});

		window.twttr = (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0],
            t = window.twttr || {};
          if (d.getElementById(id)) return t;
          js = d.createElement(s);
          js.id = id;
          js.src = "https://platform.twitter.com/widgets.js";
          fjs.parentNode.insertBefore(js, fjs);

          t._e = [];
          t.ready = function(f) {
            t._e.push(f);
          };

          return t;
        }(document, "script", "twitter-wjs"));
	</script>
</head>
<body>
	<div id="fullpage">
		<div class="section" id="primero">
			<div class="content">
				<div class="inter">
                    <div id="cloud">
                        <h3>{{ data.tweet_text }}</h3>
                        <div class="footer-cloud">Mi<span>Primer</span>Posteo.com fue el 2 de agosto de 2010 a las 17:27</div>
                    </div>

					<div class="primertuit">
                        <img src="{{url_for('static', filename='ciguena.gif') }}" alt="MiPrimerPosteo">
						<h4>@{{ username.screen_name }}</h4>
					</div>
					<p>Para ti fue fácil recordar <strong>tu primer posteo.</strong><br/>
					Hay pacientes con <strong>Alzheimer</strong> que no recuerdan su nombre.</p>
					<!--<a class="share-tw" href="https://twitter.com/share?text={{ data.tweet_text }}&url=http://aneacolacao.pythonanywhere.com/"><button><i class="fa fa-twitter"></i> COMPARTE</button></a>-->

                    <!-- <a href="https://twitter.com/intent/tweet?url=http%3A%2F%2Faneacolacao.pythonanywhere.com&text={{ data.tweet_text }}" class="share-tw" title="Twittear"><button><i class="fa fa-twitter"></i> COMPARTE</button></a> -->

				</div>
				<div class="scroll"><img src="{{url_for('static', filename='scroll.png') }}" alt="Scroll down" class="arrow"></div>

			</div>
		</div>
		<div class="section" id="fundacion">
			<div class="content">
                    <img src="{{url_for('static', filename='LogoAlzheimer.png') }}" alt="Alzheimer México">
                    <p>Te invitamos a hacer una donación para combatir esta enfermedad. Con tu ayuda,<br/>
                    desarrollamos programas de investigación, apoyo y servicios esenciales<br/>
                    que ayudan a nuestros pacientes y sus familias a mejorar su calidad de vida.</p>
				<div class="buttons">
                        Si no te es posible <a href="#"><br class="line_break"/><button>DONAR</button></a> <a class="share-tw" href="https://twitter.com/share?text={{ data.tweet_text }} <-- Este fue Mi Primer Posteo, ¿te gustaría recordar el tuyo? Entra aquí --> &url=http://www.miprimerposteo.com/"><button><i class="fa fa-twitter"></i> COMPARTIR</button></a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
